body {
  color: whitesmoke;
  text-shadow: black 0px 0px 2px;
  font-family: 'Abel', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    'header header header'
    'game-outer game-outer game-outer'
    'footer footer footer';
  gap: 20px;
  background: url(../assets/00160188.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  grid-area: header;
  grid-column: 1/-1;
  grid-row: 1/2;
}



nav {
  padding-bottom: 10px;
}

/* *div housing all game play for grid layout applied to body*/
.game-outer {
  grid-area: game-outer;
  grid-column: 1/-1;
  grid-row: 2/6;
  object-fit: scale-down;
}

/* *div housing game play content with own grid */
.game-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    '. h2 h2 h2 .'
    ' . opponents oppponents.  game rules '
    '. . message-box . .'
    ' image-container image-container image-container image-container image-container';
  gap: 20px;
  background-color: rgb(38, 92, 186, 0.5);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

h2 {
  grid-area: h2;
  grid-column: 1/-1;
  grid-row: 1/2;
  text-align: center;
  font-size: 60px;
  padding: 20px;
}

/* *game play grid: opponents images  */
#opponents {
  /* *might have to adjust column to 2/3 and  */
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
  justify-content: center;
  font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
}

#message-box {
  font-size: 2.3rem;

  text-align: center;
}

.opponents-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
  align-items: center;
}

.opponents-inner > h3 {
  font-size: 40px;
  padding: 10px;
}

button {
  font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 20px;
  border-radius: 70px;
  border: none;
  text-align: center;
  color: rgb(55, 71, 79);
  font-size: large;
}

button:hover {
  background-color: rgb(255, 236, 81);
  border: none;
}

#game-rules {
  grid-column: 5/6;
  grid-row: 2/3;
  align-self: end;
  margin-bottom: 20px;
}

#game-rules > section {
  text-align: center;
  padding: 20px;
  color: rgb(55, 71, 79);
  background-color: whitesmoke;
  padding: 5px 5px 5px 5px;
  border-radius: 70px;
  height: 50px;
  width: 50%;
  margin: 5px 1% 5px 1%;
  position: relative;
  transition: height 0.8s;
  overflow: hidden;
  transition: 1s;
  font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
}

#game-rules > section:hover {
  height: auto;
  width: auto;
  background-color: yellow;
  transform: scale(1.15);
}

#rule-section > h3 {
  padding: 10px;
  font-size: large;
}

#rule-section > p {
  padding: 20px;
}

#image-container {
  grid-area: image-container;
  grid-column: 1/-1;
  grid-row: 4/5;
}

/* *user image choice of 5  */

#user-choice > ul {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

#user-choice > p {
  padding: 20px;
  font-size: xx-large;
}

img {
  background-color: rgba(255, 192, 203, 0);
  border-radius: 15px;
  /* background-color:   rgb(38, 92, 186, 0.8); */
  max-width: 80%;
}

h5 {
  font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
  font-size: x-large;
  padding: 5px;
  padding-left: 2rem;
}

footer {
  grid-area: footer;
  padding: 20px;
  grid-column: 1/-1;
  grid-row: 6/7;
  text-align: center;
  align-items: center;
}

.hidden {
  display: none;
}

.invisable {
  opacity: 0;
}

li figure img {
  cursor: pointer;
}
