body {
  background: url(../assets/00160188.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-template-areas:
    'header header header'
    'game-outer game-outer game-outer'
    'footer footer footer';
  gap: 1px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 98vw;
}

.game-outer {
  grid-area: game-outer;
  grid-column: 1/-1;
  grid-row: 2/5;
  object-fit: scale-down;
}

.game-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(25px, auto);
  grid-template-areas:
    '. h2 h2 h2 .'
    ' . opponents oppponents.  game rules '
    '. . message-box . .'
    ' image-container image-container image-container image-container image-container';
  gap: 5px;
  background-color: rgb(38, 92, 186, 0.5);
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  grid-area: h2;
  grid-column: 1/-1;
  grid-row: 1/2;
  text-align: center;
  font-size: 60px;
  padding-top: 5px;
  padding-bottom: 10px;
}

#opponents {

  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
  justify-content: center;
  font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
}

#message-box {
  font-size: 2.3rem;
  text-align: center;
  grid-column: 2/2;
  margin-top: 30%;
  margin-bottom: -10%;
  color: rgba(228, 0, 0, 0.705);
}

.opponents-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
  align-items: center;
}

.opponents-inner > h3 {
  font-size: 40px;
  padding: 0px;
}

button {
  font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
  padding: 25px 35px;
  margin: 5px;
  border-radius: 70px;
  border: none;
  text-align: center;
  color: rgb(55, 71, 79);
  font-size: large;
  text-shadow: none;
}

button:hover {
  background-color: rgb(255, 236, 81);
  border: none;
  text-shadow: none;
}

#game-rules {
  grid-column: 5/6;
  grid-row: 2/3;
  align-self: end;
  margin-bottom: 0px;
}

#game-rules > section {
  text-align: center;
  color: rgb(55, 71, 79);
  background-color: whitesmoke;
  padding: 5px 5px 5px 5px;
  border-radius: 70px;
  height: 40px;
  width: 50%;
  margin: 5px 1% 5px 1%;
  position: relative;
  right: 50px;
  bottom: 18px;
  overflow: hidden;
  transition: 1s;
  font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
  text-shadow: none;
}

#game-rules > section:hover {
  height: auto;
  width: auto;
  background-color: yellow;
  transform: scale(1.15);
  text-shadow: none;
}

#rule-section > h3 {
  padding: 10px;
  font-size: large;
}

#rule-section > p {
  padding: 5px;
}

#image-container {
  grid-area: image-container;
  grid-column: 1/-1;
  grid-row: 3/4;
}

#user-choice > ul {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

#user-choice > p {
  padding: 5px;
  font-size: xx-large;
}

img {
  background-color: rgba(255, 192, 203, 0);
  border-radius: 15px;
  max-width: 80%;
}

h5 {
  font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
  font-size: x-large;
  padding: 5px;
  padding-left: 2rem;
}

.hidden {
  display: none;
  background-color: none;
}

.invisable {
  opacity: 0;
  background-color: none;
}

li figure img {
  cursor: pointer;
}

#gameBall {
  animation: shake 4s ease infinite;
}
@keyframes shake {
  0% {
    transform: translate(-1px, -2px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -2px) rotate(0deg);
  }
  83% {
    transform: translate(-3px, 0px) rotate(10deg);
  }
  85% {
    transform: translate(-3px, 0px) rotate(0deg);
  }
  87% {
    transform: translate(3px, 2px) rotate(-10deg);
  }
  89% {
    transform: translate(1px, -1px) rotate(0deg);
  }
  91% {
    transform: translate(-1px, -2px) rotate(10deg);
  }
  93% {
    transform: translate(-1px, -2px) rotate(0deg);
  }
  95% {
    transform: translate(-3px, 0px) rotate(-10deg);
  }
  97.5% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(-1px, -2px) rotate(10deg);
  }
}

footer {
 
  text-align: center;
  align-items: center;
  padding-top: 15px;
}

@media (min-width: 1025px) {
  li > figure > img {
    width: 45%;
    margin-bottom: -9%;
  }

  #computer {
    width: 41%;
  }

  #user-choice {
    margin-top: 10%;
  }
  button {
    margin-top: 10%;
  }

  #message-box {
    grid-row: 3/4;
    grid-column: 3/3;
    height: 10%;
    background-color: rgba(17, 211, 133, 0.549);
    border-radius: 25px;
    width: 500px;
    margin-top: 8%;
    font-size: 2rem;
    padding: 0;
  }

  #gameBall {
    width: 41%;
  }

  #message-box > p {
    padding-top: 10px;
    padding-bottom: -20px;
  }

  h2 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 2.3rem;
  }

  h5 {
    margin-top: 15px;
  }

  .hidden {
    display: none;
    background-color: none;
  }

  .invisable {
    opacity: 0;
    background-color: none;
  }
}
