body{
  background: url(../assets/30440_pokemon.jpeg) no-repeat center center fixed; 
  /*
  background-image: -moz-linear-gradient(#0f85e6, #0022ff, #0022ff);*/
  background-size: 100vw;
  background-color:  rgb(0, 51, 255);
  /*background: linear-gradient(#0f85e6, #0022ff, #0022ff) no-repeat center fixed;*/
}
main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(3.2vmax, auto);
  grid-template-areas: 
  "header header header"
  /* " . . ." */
  "section section section"
  " . button . "
  ". . ."
  "footer footer footer";
  gap: 1.5vmax;
}
header{
  grid-area: header;
  grid-column: 1/-1;
  padding-top: 0.4%;
}
nav{
  padding-bottom: 0.5%;
}
section{
  grid-area: section;
  grid-row: 2/4;
  grid-column: 1/-1;
  text-align: center;
  padding: 2.5%;
}
h2{
  font-size: 6.5vmax;
}
p{
  font-size: 3vmax;
  padding:2.5%;
}
button{
  grid-area: button;
  grid-row:4/5;
  grid-column: 2/3;
  font-family: "Silkscreen", Arial, Helvetica, sans-serif;
  font-size: 1.5vmax;
  padding: 1.5%;
  border-radius: 70px;
  border:none;
  text-align:center;
  color: rgb(55,71,79); 
  animation: bounce 1.6s ease infinite; 
}
@keyframes bounce {
  70% { transform:translateY(-0%); }
  80% { transform:translateY(-10%); }
  90% { transform:translateY(0%); }
  95% { transform:translateY(-10%); }
  97% { transform:translateY(0%); }
  99% { transform:translateY(-5%); }
  100% { transform:translateY(0); }
}
button:hover{
  background-color: rgb(255, 236, 81);
  border:none;
  animation-play-state: paused;
}
footer{
  grid-row: 5/6;
  grid-column: 2/3;
  /* position:fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
}
