header{
  grid-area: header;
  grid-column: 1/-1;
}

h1{
 font-family: 'Glegoo', serif;
 font-size: 30px;
 text-align: center;
 padding-left: 20px;
}

nav{
  padding-bottom: 10px;
}

#my-chart{
 
}

#chart-container{
  display: block;
  justify-content: center;
  color: black;
  background-color: rgb(180, 200, 216);
  border: 3px solid black;
  border-radius: 15px;
  width: 85%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

}

#chart-info{
  
}

footer{
  color: white;
  text-align: center;
  align-items: center;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

