/* https://www.tutorialbrain.com/css_tutorial/css_navigation_bar/ */

body{
  color: whitesmoke;
  text-shadow: black 0px 0px 2px;
  /* background-color: rgb(52, 111, 213); */
  /*font-family: 'Glegoo', sans-serif;*/
  /*font-family: 'Gemunu Libre', sans-serif;*/
  font-family: 'Patua One', cursive; 
  /*font-family: 'VT323', monospace;*/
  }
  header{
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0.8vmax;
    font-size: 1.8vmax;
    margin-top: 0.08vmax;
  }
  
  h1{
    text-align: center;
    padding:0.5vmax;
    /* font-size: 30px; */
    text-align: center;
    padding-left: 20px;
  }
  
  nav{
    color:whitesmoke;
  }
  
  nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 2vmax;
  }
  
  nav ul li{
   margin-right: 0.5vmax;
   /* font-size: 25px; */
   transition: all .5s ease-in-out;
   padding: 0.5vmax;
   border-radius: 0.8%;
  }
  
  nav ul li:hover{
    background-color: rgb(255, 236, 81);
    border-radius: 15px;
    animation: shrink 2.3s ease infinite;
   }
  
   @keyframes shrink{
    from{transform: scale(1);}
    to{transform: scale(0.7);}
   }
  
  nav ul li a {
    text-align: center;
    padding: 1%;
    width: 90px;
    color: whitesmoke;
  }
  
  a{
    text-decoration: none;
  } 

  a:hover{
    color: rgb(55, 71, 79);
    text-shadow: none;
  }

 
  
  footer {
    text-align: center;
    font-family: "Silkscreen", Arial, Helvetica, sans-serif;
    padding: 0.08%;
    font-size: 1.5vmax;
  }
