/* https://www.tutorialbrain.com/css_tutorial/css_navigation_bar/ */

body{
  /* background-color: white; */
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: rgb(52, 111, 213);
  font-family: 'Gleego', sans-serif;
  }
  
  header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family: 'Glegoo', serif;
  }
  
  h1{
    color: whitesmoke;
    text-align: center;
    padding:5px;
  }
  
  nav{
    color:whitesmoke;
  }
  
  nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 5px;
  }
  
  nav ul li{
   margin-right: 15px;
   font-size: 25px;
   transition: all .5s ease-in-out;
   padding: 10px;
   border-radius: 15px;
  }
  
  nav ul li:hover{
    background-color: rgb(255, 236, 81);
    animation: shrink 2.3s ease infinite;
   }
  
   @keyframes shrink{
    from{transform: scale(1);}
    to{transform: scale(0.7);}
   }
  
  nav ul li a {
    text-align: center;
    padding: 10px;
    width: 90px;
    color: whitesmoke;
  }
  
  a{
    text-decoration: none;
  }
  a:hover{
    color: rgb(55, 71, 79);
  }
  

